footer {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
  font-size: .75rem;
}

.scroller-outer {
  width: 86vw;
  max-width: 1000px;
  padding-inline: 1rem;
}

.scroller-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}

.scroller-inner > div {
  white-space: nowrap;
  padding: 1rem;
  background-color: var(--color-spake-pink);
}

.scroller-outer[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    var(--color-spake-lichen) 20%,
    var(--color-spake-lichen) 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    var(--color-spake-lichen) 20%,
    var(--color-spake-lichen) 80%,
    transparent
  );
}

.scroller-outer[data-animated='true'] .scroller-inner {
  flex-wrap: nowrap;
  width: max-content;
  animation: side-scroll 20s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes side-scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Media Queries */

@media (min-width: 576px) {

  footer {
    top: initial;
  }
}
