@import url('./_variables');

header {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 100;
}

.spake-logo-and-burger-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: .5rem 1.125rem;
  background-color: var(--color-eighty-percent-gray);
}

.spake-logo-dark {
  width: 220px;
}

.spake-logo-light {
  width: 125px;
}

.burger-button {
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: transparent;

  &.closing-x-button {
    padding: 5px 2px;
  }
}

.burger-button .burger-bars-container {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-button .burger-bars-container .bar {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: var(--color-spake-lichen);
  transition: transform .125s;

  &.closing-x-bar {
    width: 30px;

    &:nth-child(1) {
      top: 9px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      bottom: 12px;
      transform: rotate(-45deg);
    }
  }
}

nav {
  flex-direction: column;
  padding: .5rem 0;
  background-color: var(--color-dark-film);
  backdrop-filter: blur(5px);

  &.mobile-nav-is-closed {
    display: none;
  }

  &.mobile-nav-is-open {
    display: flex;
  }

  .nav-link-wrapper {
    padding: .5rem .75rem;
  }

  .nav-link {
    display: block;
    padding: 1rem;
    border: 1px solid var(--color-spake-lichen);
    border-radius: .5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    letter-spacing: .125rem;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-spake-lichen);

    &:hover {
      background-color: var(--color-spake-lichen);
      color: var(--color-spake-umber);
    }
  }
}

/* Media Queries */

@media (min-width: 576px) {

  header {
    position: relative;
    padding-bottom: .75rem;
    background-color: yellow;

    .spake-logo-and-burger-button {
      justify-content: center;
      background-color: pink;
    }
  }

  nav {
    flex-direction: row;
    justify-content: space-around;
    max-width: 50rem;
    padding: 0;
    margin: auto;
    background-color: cyan;
    backdrop-filter: initial;

    &.mobile-nav-is-closed {
      display: flex;
    }

    .nav-link-wrapper {
      padding: .25rem .5rem;
    }

    .nav-link {
      padding: 0 0 .25rem;
      border: none;
      border-bottom: var(--border-width-large) solid transparent;
      border-radius: initial;
      transition: all 0.125s linear;
      color: var(--color-application-font);

      &:hover,
      &.nav-link-active {
        padding: initial;
        border-bottom: var(--border-width-large) solid var(--color-application-font);
        margin-bottom: .25rem;
        background-color: initial;
      }
    }
  }
}
