section {
  width: 100%;
}

.image-placeholder {
  width: 100%;
  height: 100px;
  background-color: var(--color-fifty-percent-gray);
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}

.section-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
  background-color: var(--color-fifty-percent-gray);
}

.section-large-nav-link-wrapper {
  margin-top: 2rem;
}

.section-text-link {

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration-color: var(--color-spake-yellow);
  }
}

.section-large-nav-link,
.form-submit-button {
  padding: 1rem 2rem;
  border: 1px solid var(--color-application-font);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-application-font);
  color: var(--color-spake-lichen);
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-spake-yellow);
    color: var(--color-spake-brown);
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
  margin-top: 2rem;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-input {
  padding: .5rem;

  &.form-input-message {
    height: 5rem;
  }
}

.form-submit-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
