:root {
  /* Responsive Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* Colors Grayscale */
  --color-black: #000;
  --color-white: #fff;
  --color-thirty-five-percent-gray: #a6a6a6;
  --color-fifty-percent-gray: #7f7f7f;
  --color-eighty-percent-gray: #333;
  --color-dark-film: rgb(30 30 30 / 0.9);

  /* Colors Hued */
  --color-spake-green: #2e7e19;
  --color-spake-lichen: #f3f8f2;
  --color-spake-blue: #1874ff;
  --color-spake-purple: #6d2dbe;
  --color-spake-pink: #ff98dc;
  --color-spake-yellow: #ffd600;
  --color-spake-brown: #531009;
  --color-spake-umber: #5a4c4c;
  --color-spake-red: #c21731;
  --color-application-font: var(--color-spake-brown);

  /* Dimensions */
  --dimension-image-xtra-small: 175px;
  --dimension-image-small: 300px;
  --gap-scroll-items: 2.5rem;
  --half-gap-scroll-items: calc(var(--gap-scroll-items) / 2);

  /* Border Width */
  --border-width-small: 1px;
  --border-width-large: 2px;

  /* Border Radius */
  --border-radius-medium: .5rem;
  --border-radius-large: 2rem;
}
