@import url('./_variables');

.contact-container {
  width: 100%;
  max-width: var(--breakpoint-md);
  margin-top: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.required {
  color: var(--color-spake-red);
}

.input-field,
.textarea-field {
  border: 1px solid var(--color-thirty-five-percent-gray);
  padding: .5rem .75rem;
}

.error-messages {
  display: flex;
  flex-wrap: wrap;
  gap: .125rem 1rem;
  color: var(--color-spake-red);
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
