@import url('./_variables');

footer {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
  font-size: .75rem;
}

.scroller-outer {
  width: 86vw;
  max-width: 1200px;
  padding-inline: 1rem;
}

.scroller-inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-scroll-items);
  padding-block: 1rem;
}

.scroll-item {
  white-space: nowrap;
  padding: 1rem;
}

.scroll-item-logo {
  height: 2.5rem;
}

.scroller-outer[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    var(--color-spake-lichen) 10%,
    var(--color-spake-lichen) 90%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    var(--color-spake-lichen) 10%,
    var(--color-spake-lichen) 90%,
    transparent
  );
}

.scroller-outer[data-animated='true'] .scroller-inner {
  flex-wrap: nowrap;
  width: max-content;
  animation: side-scroll 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes side-scroll {
  to {
    transform: translate(calc(-50% - (var(--half-gap-scroll-items))));
  }
}

.footer-copyright {
  margin: 1rem 1rem 5rem;
}

/* Media Queries */

@media (min-width: 576px) {

  footer {
    top: initial;
  }
}
