@import url('./_variables');

section {
  width: 100%;
}

.image-placeholder {
  width: 100%;
  height: 100px;
  background-color: var(--color-fifty-percent-gray);
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  margin: auto 3rem;
}

.section-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
  background-color: var(--color-fifty-percent-gray);
}

.section-text-link {

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration-color: var(--color-spake-yellow);
  }
}

.section-large-nav-link,
button[type='submit'] {
  padding: 1rem 2rem;
  border: 2px solid var(--color-application-font);
  border-radius: var(--border-radius-large);
  margin-top: 2rem;
  white-space: nowrap;
  background-color: var(--color-application-font);
  color: var(--color-spake-lichen);
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-spake-yellow);
    color: var(--color-spake-brown);
  }
}
