@import url('./_variables');

html {
  scroll-behavior: smooth;
}

body {
  max-width: 87.5rem;
  margin: auto;
  color: var(--color-application-font);
  background-color: var(--color-spake-lichen);
  font-family: 'Open Sans', sans-serif;
}

main {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
}

.not-found-error {
  text-align: center;
}

/* Media Queries */

@media (min-width: 576px) {

  main {
    top: initial;
  }
}
