@import url('./_variables');
@import url('./_header');

body {
  background-color: var(--color-spake-lichen);

  main {
    color: var(--color-spake-lichen);
    background-color: var(--color-spake-umber);
  }
}
