@import url('./_variables');

html {
  scroll-behavior: smooth;
}

body {
  max-width: 87.5rem;
  margin: auto;
  color: var(--color-application-font);
  background-color: var(--color-spake-lichen);
  font-family: 'Open Sans', sans-serif;
}

main {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
}

.not-found-error {
  text-align: center;
}

.large-nav-link,
button[type='submit'] {
  padding: .75rem 1.5rem;
  border: none;
  border-radius: var(--border-radius-medium);
  white-space: nowrap;
  background-color: var(--color-spake-yellow);
  color: var(--color-spake-brown);
  text-align: center;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-spake-green);
    color: var(--color-spake-lichen);
  }
}

.mobile-nav-is-open > .large-nav-link {
  padding: 1rem;
}

/* Media Queries */

@media (min-width: 576px) {

  main {
    top: initial;
  }

  .large-nav-link,
  button[type='submit'] {
    &:hover {
      background-color: var(--color-application-font);
    }
  }
}
